<div class="row">
  <div class="span12">
    <legend>Stock information for <%= @stock.name %></legend>
    <table class="table table-striped table-bordered table-condensed responsive-table">
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Name</th>
          <th>Change +/-</th>
          <th>Change %</th>
          <th>Last Trade</th>
          <th>Time</th>
          <th>Open</th>
          <th>Highest</th>
          <th>Lowest</th>
          <th>Volume</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="Ticker"><%= @stock.ticker %></td>
          <td data-title="Name"><%= @stock.name %></td>
          <td data-title="Change +/-"><%= @stockdata["Change"] %></td>
          <td data-title="Change %"><%= @stockdata["PercentChange"] %></td>
          <td data-title="Last Trade"><%= @stockdata["LastTradePriceOnly"] %></td>
          <td data-title="Time"><%= @stockdata["LastTradeTime"] %></td>
          <td data-title="Open"><%= @stockdata["Open"] %></td>
          <td data-title="Highest"><%= @stockdata["DaysHigh"] %></td>
          <td data-title="Lowest"><%= @stockdata["DaysLow"] %></td>
          <td data-title="Volume"><%= @stockdata["Volume"] %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span2 well">
      <ul class="unstyled">
        <li><strong>Year high:</strong> <%= @stockdata["YearHigh"] %></li>
        <li><strong>Year low:</strong> <%= @stockdata["YearLow"] %></li>
      </ul>
  </div>
  <div class="span6" id="<%= @stock.id %>">
    <legend>Progress of <%= @stock.name %> (1 month)</legend>
    <div id="placeholder" style="width: 100%; height: 250px;">
  </div>
</div>