<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :class => "form-horizontal") do |f| %>
  <fieldset>
    <legend>Log in to QuickPortfolio</legend>
    <div class="control-group">
      <%= f.label :login, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :login, :placeholder => "Username or email..." %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password, :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password, :placeholder => "Password..." %>
      </div>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="control-group">
        <%= f.label :remember_me, :class => "checkbox" do %>
          <%= f.check_box :remember_me %>Remember me
        <% end %>
      </div>
    <% end -%>
    <div class="control-group">
      <div class="controls">
        <%= f.submit "Sign in", :class => "btn btn-primary" %>
      </div>
    </div>         
    </fieldset>
<% end %>